<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GetFileSc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <GetFileSc.Properties.Settings>
            <setting name="ConfigName" serializeAs="String">
                <value>Config.ini</value>
            </setting>
            <setting name="OraTNS" serializeAs="String">
                <value>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=vmdwh02)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SID=STAB)));User ID=sync;Password=sync</value>
            </setting>
            <setting name="RNItemLastWords1" serializeAs="String">
                <value>ПРЕРЕКВИЗИТЫ</value>
            </setting>
            <setting name="RNItemLastWords2" serializeAs="String">
                <value>ВО ВРЕМЯ УСТАНОВКИ</value>
            </setting>
            <setting name="RNItemLastWords3" serializeAs="String">
                <value>ПОСЛЕ ИНКРЕМЕНТА</value>
            </setting>
            <setting name="RNItemLastWords4" serializeAs="String">
                <value>ЦИКЛИЧЕСКАЯ ЗАГРУЗКА)</value>
            </setting>
            <setting name="RNItemLastWords5" serializeAs="String">
                <value>К ПРИМЕРУ, ДЛЯ СРЕДЫ ФТ)</value>
            </setting>
        </GetFileSc.Properties.Settings>
    </userSettings>
</configuration>
